/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #ff5353; /* Fondo amarillo claro */
    padding: 20px;
    margin: 0;
    text-align: center; /* Centro de todo el texto */
}

/* Estilos para el título con efecto 3D en rojo y amarillo */
.text-3d {
    font-size: 48px; /* Tamaño de fuente más grande */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    margin-bottom: 20px; /* Espacio inferior */
    background-image: linear-gradient(45deg, #ffd000, #fca708); /* Degradado de amarillo a rojo (invertido) */
    -webkit-background-clip: text; /* Aplicar el degradado al texto */
    color: transparent; /* Ocultar el color del texto */
    display: inline-block;
    text-shadow: 2px 2px 0 #ff5353, 4px 4px 0 #ffa42c, 6px 6px 0 #ddb811; /* Sombra roja para el efecto 3D */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fda86e; /* Fondo azul claro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Bordes redondeados para la tabla */
}

th, td {
    padding: 12px 15px;
    text-align: center; /* Texto centrado en las celdas */
    border-bottom: 1px solid #ddd;
    color: #333; /* Color de texto oscuro */
}

/* Estilos específicos para el botón "Comprar" */
td:last-child a {
    background-color: #ff6f61; /* Color naranja */
    color: white;
    border-radius: 25px; /* Botón redondeado */
    padding: 8px 16px;
    text-align: center;
    display: block;
    text-decoration: none; /* Sin subrayado de enlace */
    transition: background-color 0.3s; /* Efecto de transición */
}

td:last-child a:hover {
    background-color: #ff402c; /* Cambia el color al pasar el cursor */
}

/* Estilos para enlaces */
a {
    text-decoration: none;
    color: #ff6f61; /* Color naranja */
    transition: color 0.3s; /* Efecto de transición de color */
}

a:hover {
    color: #ff402c; /* Cambia el color al pasar el cursor */
}

/* Estilos para la imagen */
td img {
    display: block;
    margin: 0 auto;
    border: 5px solid #ff6f61; /* Borde naranja alrededor de la imagen */
}

/* Estilos para la imagen con efecto de zoom al pasar el cursor */
.zoom-img {
    display: inline-block;
    overflow: hidden;
    position: relative;
    border: 5px solid #ff6f61; /* Borde naranja alrededor de la imagen */
    transition: transform 0.3s;
}

.zoom-img img {
    transition: transform 0.3s;
}

.zoom-img:hover img {
    transform: scale(1.5); /* Aumenta el tamaño al 150% al pasar el cursor */
}

/*caption de las imagenes*/
.image-caption {
    font-size: 12px;
    color: #333;
}